.container-fluid{
    padding: 25px;
    margin: auto;
}

.card1-img-top{
    background-image: url("../../assets/dashboards/foodsmenu.jpg");
    margin: 0;
    padding: 0;
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card2-img-top{
    background-image: url("../../assets/dashboards/orders.jpg");
    margin: 0;
    padding: 0;
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}