<!-- start div container-fluid -->
<div class="container-fluid">
    <!-- start div row -->
    <div class="row">
        <!-- start first div col -->
        <div class="col-lg-6">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <!-- <img class="card1-img-top"   alt="Card image cap"> -->
                <span class="card1-img-top"></span>
            
                <!--  Card content -->
                <div class="card-body">
            
                    <!-- Title -->
                    <h4 class="card-title"><a>Foods Menu</a></h4>
                    <!-- Text -->
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <!-- Button -->
                    <button class="btn btn-primary" (click)="onItems()" type="button">Menu</button>
            
                </div>
            
            </div>
            <!-- Card -->
        </div>
        <!-- end div -->

        <!-- start second div col -->
        <div class="col-lg-6">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <span class="card2-img-top"></span>
            
                <!-- Card content -->
                <div class="card-body">
            
                <!-- Title -->
                <h4 class="card-title"><a>Customers Orders</a></h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>

                <!-- Button -->
                <button class="btn btn-primary" (click)="onOrders()" type="button">Orders</button>
            
                </div>
            
            </div>
            <!-- Card -->
        </div>
        <!-- end div -->
    </div>
    <!-- end div -->

</div>
<!-- end div -->