<!-- start div container -->
<div class="container">

    <!-- start section content -->
    <section class="content">

        <!-- start header -->
        <header class="modal-header">
            <h4>Contacts</h4>
        </header>
        <!-- end header -->
        
        <!-- start article -->
        <article>
            <p>
                <strong>FoodJunction</strong> is the best restaurant website doesn’t have to be a time-consuming or difficult task. In many cases, there are simple things you can build into your website to share the most important information with your frequent and potential guests, especially as a way to direct customer traffic to online ordering. 
            </p>

            <p>
                The guest can then use that gift card or coupon code to come back and order delivery for date night at home, being rewarded as a regular by accruing loyalty points. Then, they’ll tell their friends, or bring them along to the restaurant, and the guest experience flow begins again.
            </p>
        </article>
        <!-- end article -->

    </section>
    <!-- end section -->

</div>
<!-- end div -->