/* card */
.card{
    padding: 25px;
    margin: auto;
}

.card-header ul li a{
    color: #177df2;
}
.card-header ul li a:hover{
    background-color: #177df2;
    color: #ffffff;
}


/* card close btn */
.btn-card-close .btn{
    float: right;
    border-radius: 22px;
}

/* form-group */
.form-group{
    position: relative;
}

.form-group .eye-icon{
    position: absolute;
    bottom: 2px;
    top: 2px;
    right: 2px;
    padding: 5px;
    margin: auto;
}