/* card */
.card{
    padding: 25px;
    margin: auto;
}

/*close btn */
.btn-close .btn{
    float: right;
    border-radius: 22px;
}

/* form-group */
.form-group{
    position: relative;
}

.form-group .eye-icon{
    position: absolute;
    bottom: 2px;
    top: 2px;
    right: 2px;
    padding: 5px;
    margin: auto;
}