<!-- start div container -->
<div class="container mt-5 pt-5">

    <!-- start div card -->
    <div class="card mx-auto border-0">

        <!-- start div close form -->
        <div class="btn-times">
            <button class="btn btn-sm btn-danger" (click)="onCloseForm()" type="button">
                <fa-icon [icon]="times"></fa-icon>
            </button>
        </div>
        <!-- end div -->

        <!-- start div card-body -->
        <div class="card-body pb-4">
            <!-- heading -->
            <h3 class="text-center text-danger">ChangePassword</h3>

            <!-- start form -->
            <form [formGroup]="adminchangePassform">

                <div class="form-group">
                    <input type="email" formControlName="admin_email" [class.is-invalid]="admin_email.touched && admin_email.invalid"
                     class="form-control" placeholder="Email">
                    <section *ngIf="admin_email.touched && admin_email.invalid">
                        <small class="text-danger" *ngIf="admin_email.errors?.['required']">Email is required</small>
                        <small class="text-danger" *ngIf="admin_email.errors?.['pattern']">Invalid Email</small>
                    </section>
                </div>

                <div class="form-group">
                    <input type="{{ hidePassword ? 'password' : 'text' }}" formControlName="admin_pass" 
                    [class.is-invalid]="admin_pass.touched && admin_pass.invalid || adminchangePassform.errors?.['adminMatchpass']"
                    class="form-control" placeholder="Password">
                    <span  class="eye-icon">
                        <fa-icon [icon]="hidePassword ? eyeSlash : eye" (click)="togglePasswordVisibility()"></fa-icon>
                    </span>
                    <section *ngIf="admin_pass.touched && admin_pass.invalid || adminchangePassform.errors?.['adminMatchpass']">
                        <small class="text-danger" *ngIf="admin_pass.errors?.['required']">Password is required</small>
                        <small class="text-danger" *ngIf="admin_pass.errors?.['pattern']">Invalid Password</small>
                    </section>
                </div>

                <div class="form-group">
                    <input type="{{ hidePassword ? 'password' : 'text' }}" formControlName="admin_confirmpass" 
                    [class.is-invalid]="admin_confirmpass.touched && admin_confirmpass.invalid || 
                    adminchangePassform.errors?.['adminMatchpass']"
                    class="form-control" placeholder="Confirmpassword">
                    <span  class="eye-icon">
                        <fa-icon [icon]="hidePassword ? eyeSlash : eye" (click)="togglePasswordVisibility()"></fa-icon>
                    </span>
                    <section *ngIf="admin_confirmpass.touched && admin_confirmpass.invalid || 
                    adminchangePassform.errors?.['adminMatchpass']">
                        <small class="text-danger" *ngIf="admin_confirmpass.errors?.['required']">Confirmpassword is required</small>
                        <small class="text-danger" *ngIf="admin_confirmpass.errors?.['pattern']">Invalid Confirmpassword</small>
                    </section>
                </div>

                <div class="form-group">
                    <button class="btn btn-block btn-danger" [disabled]="adminchangePassform.invalid" (click)="onChangepass()" type="button">Save</button>
                </div>
            </form>
            <!-- end form -->

        </div>
        <!-- end div -->

    </div>
    <!-- end div -->

</div>
<!-- end div -->