<!-- start div container -->
<div class="container">

    <!-- start div flex -->
    <div class="d-flex justify-content-center py-4 me-3">

        <!-- start div card -->
        <div class="card">

            <div class="card-body">

                <div class="btn-card-back">
                    <button type="button" (click)="onReload()" class="btn btn-primary"><fa-icon [icon]="redoAlt"></fa-icon></button>
                </div>

            </div>

        </div>
        <!-- end div -->

    </div>
    <!-- end div -->

</div>
<!-- end div -->