<!-- start div container -->
<div class="container">

    <!-- start div flex -->
    <div class="d-flex justify-content-center py-4 me-3 ">
        
        <!-- start div card -->
        <div class="card text-center">
            
            <div class="btn-card my-2 my-sm-0">
                <button class="btn btn-primary my-2 my-sm-0" (click)="onReload()" type="button">
                    <fa-icon [icon]="redoAlt"></fa-icon>
                </button>
            </div>
        </div>
        <!-- end div -->

    </div>
    <!-- end div -->
</div>
<!-- end div -->