/* container fluid */
.container-fluid{
    margin-top: 4rem;
}

/* card */
.card{
    background-image: url('../../assets/myorders_image/noOrders.jpg');
    height: 500px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* heading */
h4{
    font-weight: 600;
    margin-top: 2%;
}



/* list-content */
.list-content{
    padding: 25px;
    margin: auto;
}

.content-status p{
    font-size: 20px;
    font-weight: 600;
}

.list-group .list-group-item span{
    margin: 2%;
}

/* footer content */
.footer-content .text-success{
    font-size: 20px;
    font-weight: 600;
}