<!-- start div container -->
<div class="container">
    
    <!-- start div flex -->
    <div class="d-flex justify-content-center  py-4 me-3">
        
        <!-- start div -->
        <div class="card text-center">
            <h1>Welcome To FoodJunction</h1>
            <h4>Please order your favourite foods! </h4>

            <div class="btn-card my-2 my-sm-0">
                <button class="btn btn-primary my-2 my-sm-0" (click)="onCustomerSignup()" style="margin-right: 10%;" type="button">Get started</button>
            </div>
            
        </div>
        <!-- end div -->

    </div>
    <!-- end div -->

</div>
<!-- end div -->